.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  height: 100%;
  background: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.modal-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}

.form-row label {
  width: 150px;
  font-weight: 500;
}

.form-row input, .form-row textarea {
  flex: 1;
  align-items: center;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 250px;
  margin: 0px;
}

.time-input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  /* width: 100%; */
}

.time-input-group input {
  flex: 1;
  width: 100px;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

.modal-actions {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-content button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s ease;
}

.modal-content button.save-btn {
  background-color: #4CAF50;
  color: white;
}

.modal-content button.save-btn:hover {
  background-color: #45a049;
}

.modal-content button.cancel-btn {
  background-color: #f44336;
  color: white;
}

.modal-content button.cancel-btn:hover {
  background-color: #d32f2f;
}
